/* TAG SELECTORS */
li {
  margin: 16px 0;
}

/* CLASS SELECTORS */
/* ID SELECTORS */
#main {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
}

#header {
  line-height: 1.5;
}

#title {
  font-size: 3rem;
  padding-top: 2%;
}

#subtitle {
  margin-top: 0px;
  margin-bottom: 1%;
}

#image-div {
  display: block;
  background-color: white;
  margin: auto;
  padding: 1%;
}

#image {
  max-width: 60%;
  min-width: 300px;
}

#image-caption {
  margin: 1% auto;
  font-size: .75rem;
}

#tribute-info {
  padding-top: 2%;
}

.main-list {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size: .75rem;
}

.bottom-quote {
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
  font-size: .75rem;
}

#tribute-link {
  margin: 2% auto;
  font-size: .9rem;
}

footer {
  padding: 3% auto;
  background-color: white;
  line-height: normal;
}

.fa {
  padding: 20px;
  font-size: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
